<html>
    <head>
        <title>Free Palestine</title>
        <link rel='stylesheet' href="/static/styles/style.css">
        <link rel="shortcut icon" href="/static/fg.png">

    </head>
    <header>
        <div class="lo">From The River to the Sea, Palestine will be Free</div>
        <div class="g">       
            <a  class="d" href="/">Home</a> 

            <a class="d" href="/GDT">Gaza’s Dead</a>

            <a class="d" href="/crimes">Israel’s war crimes</a>
    
            <a class="d" href=""> History</a>
    
            <a class="d" >What you can do</a> 
        </div> 

    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>