{% extends 'base.html' %}
{% block content %} 
<style>
    .ste{
        color:blueviolet;
    }
</style>
<button id="button1">Show Content 1</button>
<button id="button2">Show Content 2</button>

<div id="content-area">
    <h2>Content 1</h2><p class="ste">This is the first content.</p><img src="static/2.jpg">
</div>

<script>
    const button1 = document.getElementById('button1');
    const button2 = document.getElementById('button2');
    const contentArea = document.getElementById('content-area');

    button1.addEventListener('click', () => {
        fetch('/content1')
            .then(response => response.text())
            .then(data => contentArea.innerHTML = data);
    });

    button2.addEventListener('click', () => {
        fetch('/content2')
            .then(response => response.text())
            .then(data => contentArea.innerHTML = data);
    });
</script>
{% endblock %}
